# IntelliJ IDEA
.idea/
*.iml
out/

# Visual Studio Code
.vscode/

# Gradle
.gradle/
build/
gradle.properties

# Java
*.class
*.jar
*.war
*.ear

# Logs
*.log

# OS-specific
.DS_Store
Thumbs.db

# Allure reports
allure-results/
allure-report/
.allure/

# Other
*.swp
